@import url("menu.css");

* {
  /* me rompe los formularios (revisar) 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  */
  border: 0;
  margin: 0;
  padding: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline-width: 0 !important;
  outline:none !important;
}

body {
	/*padding-top: 200px;*/
}

.seccion {
	padding: 200px 0px 200px 0;
}

/* ------------------------ SECCION 1 ------------------------ */

.s1 {
	padding-left: 200px;
}

.s1 button {
	margin-top: 80px;
}

/* ------------------------ SECCION 2 ------------------------ */

.s2 {
	background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.embed {
	padding: 36px 36px 36px 36px;
	height: 175px;
}

/* ------------------------ SECCION 3 ------------------------ */

.s3 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.s3 .subseccion .ss1 h1{
	text-align: left;
}

/* ------------------------ SECCION 4 ------------------------ */

.s4 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

}

.h1s4 {
	padding-left: 200px;
}

.estelares {
	width: auto;
	height: 312px;
}

/* ------------------------ SECCION 5 ------------------------ */

.s5 .subseccion .ss1 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

/* ------------------------ SECCION 6 ------------------------ */

.s6 {
	background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}